body {
     background-image: url("../assets/web-bg.jpg");
     background-repeat: no-repeat;
     background-position: top;
     background-size: 50%;
}

#name {
     position: absolute;
     left: 50%;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     font-weight: bold;
     text-align: center;
     font-size: x-large;
     color: gray;
     transition: all 0.3s linear;
}

.lover-result {
     animation: transform 3s infinite;
}

@keyframes transform {
     0% {
          transform: scale(0.25);
          color: blue;
     }
     50% {
          transform: scale(1);
          color: yellow;
     }
     100% {
          transform: scale(0.5);
          color: red;
     }
}
